
Task_8/.vs/Task 8/v16/.suo
Task_8/.vs/Task 8/v16/Browse.VC.db
Task_8/.vs/Task 8/v16/ipch/3da8e74cc4f02984.ipch
Task_8/.vs/Task 8/v16/ipch/617eb425061be354.ipch
Task_8/.vs/Task 8/v16/ipch/8c8331262fcc439f.ipch
Task_8/.vs/Task 8/v16/ipch/AutoPCH/15a341ff39984411/PERSON.ipch
Task_8/.vs/Task 8/v16/ipch/AutoPCH/5e7e59ec0107ca81/PHONEBOOK.ipch
Task_8/.vs/Task 8/v16/ipch/AutoPCH/67a64d7ba5367103/PERSON.ipch
Task_8/.vs/Task 8/v16/ipch/AutoPCH/7e3ccbfe0857df75/MAIN.ipch
Task_8/.vs/Task 8/v16/ipch/AutoPCH/a4e6460b37190117/MAIN.ipch
Task_8/.vs/Task 8/v16/ipch/AutoPCH/a841b7e537b73b67/PHONENUMBER.ipch
Task_8/.vs/Task 8/v16/Solution.VC.db
Task_8/.vs/Task 8/v16/TestStore/0/000.testlog
Task_8/.vs/Task 8/v16/TestStore/0/testlog.manifest
